body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:497px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:858px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:858px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:386px;
  width:105px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:393px;
  width:115px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:495px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:584px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:678px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:775px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:817px;
  width:50px;
  height:41px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
