body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:857px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:493px;
  height:857px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:809px;
  width:50px;
  height:41px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:838px;
  width:131px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
